body{
    text-align: center;
    font-size: large;
}
.main-thing-div{
    border: 1px dotted red;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 500px;
    height: 500px;
}