body{
    text-align: center;
    font-size: large;
}
.main-thing-div{
    border: 1px inset #e9ebdf;
    background-color: #e9ebdf;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.color-name{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.discription-text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.1em;
}
img{
    width: 500px;
    height: 500px;
}